MaterialsConfig(
    default: (
        // must match material pass layout
        object_layout: [
            VertexBufferAddress,
        ],
        vertex_attributes: "POSITION | COLOR | TEXTURE | NORMAL | TANGENT | BITANGENT",
        color_format: R16g16b16a16Sfloat,
        depth_format: D32Sfloat,
    ),
    materials: {
      "ui": (
            vertex_shader: "ui.spv",
            vertex_entry: "vertex_main",
            fragment_shader: "ui.spv",
            fragment_entry: "fragment_main",
            cull_mode: None,
            blend_mode: Premultiplied,
            texture_layout: [
                Diffuse,
            ],
            vertex_attributes: Some("POSITION | COLOR | TEXTURE"),
        ),
    }
)
