GraphConfig(
    graphes: {
        "none": [],
        "simple": [
            "forward_nodepth",
            "present",
        ],
        "compute": [
            "compute",
            "present",
        ],
        "headless": [
            "compute",
            "depth",
            "forward",
        ],
        "debug": [
            "compute",
            "depth",
            "forward",
            "ui_overlay",
            "present",
        ],
        "scene": [
            "compute",
            "depth",
            "forward",
            "wire",
            "bounds",
            "select",
            "ui_overlay",
            "present",
        ],
        "headless": [
            "depth",
            "forward"
        ],
        "ui": [
            "ui",
            "present",
        ],
        "test": [
            "forward",
            "ui_overlay"
        ]
    },
    passes: {
        "compute" : (
            ty: Compute,
            tag: Compute,
            pipeline: "sky",
            attachments: {
                "draw": StorageImage(
                    access: ReadWrite,
                )
            },
        ),
        "bounds": (
            ty: Material,
            tag: Bounds,
            pipeline: "wireframe",
            attachments: {
                "draw": ColorAttachment(
                    access: ReadWrite,
                    clear: false,
                )
            },
            scene_layout: [
                CameraViewProj,
            ],
            flags: "BOUNDS"
        ),
        "select": (
            ty: Material,
            tag: Select,
            pipeline: "wireframe",
            attachments: {
                "draw": ColorAttachment(
                    access: ReadWrite,
                    clear: false,
                )
            },
            scene_layout: [
                CameraViewProj,
            ],
            flags: "SELECTED"
        ),
        "wire": (
            ty: Material,
            tag: Wire,
            pipeline: "wireframe",
            attachments: {
                "draw": ColorAttachment(
                    access: ReadWrite,
                    clear: false,
                )
            },
            scene_layout: [
                CameraViewProj,
            ],
            flags: "WIRE"
        ),
        "depth": (
            ty: Material,
            tag: Depth,
            pipeline: "depth",
            attachments: {
                "depth": DepthAttachment(
                    access: ReadWrite,
                    clear: true,
                )
            },
            scene_layout: [
                CameraViewProj,
            ],
            flags: "ENTITY | OPAQUE"
        ),
        "forward_nodepth": (
            ty: Material,
            tag: Forward,
            attachments: {
                "draw": ColorAttachment(
                    access: ReadWrite,
                    clear: true,
                ),
            },
            scene_layout: [
                CameraViewProj,
            ],
            flags: "ENTITY"
        ),
        "forward": (
            ty: Material,
            tag: Forward,
            attachments: {
                "draw": ColorAttachment(
                    access: ReadWrite,
                    clear: false,
                ),
                "depth": DepthAttachment(
                    access: Read,
                    clear: false,
                )
            },
            scene_layout: [
                CameraPosition,
                CameraViewProj,
                LightDirection,
                LightColor,
                LightAmbientColor,
            ],
            flags: "ENTITY"
 
        ),
        "ui_overlay": (
            ty: Material,
            tag: Ui,
            attachments: {
                "draw": ColorAttachment(
                    access: ReadWrite,
                    clear: false,
                )
            },
            object_layout: [
                VertexBufferAddress,
            ],
            scene_layout: [
                CameraViewPort,
            ],
            flags: "UI"
        ),
        "ui": (
            ty: Material,
            tag: Ui,
            attachments: {
                "draw": ColorAttachment(
                    access: ReadWrite,
                    clear: true,
                )
            },
            object_layout: [
                VertexBufferAddress,
            ],
            scene_layout: [
                CameraViewPort,
            ],
            flags: "UI"
        ),
        "present": (
            ty: Present,
            tag: Present,
            target: "draw",
        )
    },
    attachments: {
        "draw": (
            usage: Color,
            format: R16g16b16a16Sfloat,
        ),
        "depth": (
            usage: Depth,
            format: D32Sfloat,
        ),
    }
)

