GraphConfig(
    graphes: {
        "none": [],
        "simple": [
            "forward_nodepth",
            "present",
        ],
        "compute": [
            "compute",
            "present",
        ],
        "debug": [
        "compute",
            "depth",
            "forward",
            "ui_overlay",
            "present",
        ],
        "scene": [
            "compute",
            "depth",
            "forward",
            "wire",
            "bounds",
            "select",
            "ui_overlay",
            "present",
        ],
        "headless": [
            "depth",
            "forward_simple"
        ],
        "ui": [
            "ui",
            "present",
        ],
        "test": [
            "forward",
            "ui_overlay"
        ]
    },
    passes: {
        "compute" : (
            ty: Compute,
            config: "skybox",
            attachments: {
                "draw": StorageImage(
                    access: ReadWrite,
                )
            },
        ),
        "bounds": (
            ty: Material,
            config: "bounds",
            attachments: {
                "draw": ColorAttachment(
                    access: ReadWrite,
                    clear: false,
                )
            },
            enabled: false,
        ),
        "select": (
            ty: Material,
            config: "select",
            attachments: {
                "draw": ColorAttachment(
                    access: ReadWrite,
                    clear: false,
                )
            },
        ),
        "wire": (
            ty: Material,
            config: "wire",
            attachments: {
                "draw": ColorAttachment(
                    access: ReadWrite,
                    clear: false,
                )
            },
            enabled: false,
        ),
        "depth": (
            ty: Material,
            config: "depth",
            attachments: {
                "depth": DepthAttachment(
                    access: ReadWrite,
                    clear: true,
                )
            },
        ),
        "forward_nodepth": (
            ty: Material,
            config: "forward_simple",
            attachments: {
                "draw": ColorAttachment(
                    access: ReadWrite,
                    clear: true,
                ),
            },
        ),
        "forward": (
            ty: Material,
            config: "forward",
            attachments: {
                "draw": ColorAttachment(
                    access: ReadWrite,
                    clear: false,
                ),
                "depth": DepthAttachment(
                    access: Read,
                    clear: false,
                )
            },
        ),
        "forward_simple": (
            ty: Material,
            config: "forward_simple",
            attachments: {
                "draw": ColorAttachment(
                    access: ReadWrite,
                    clear: false,
                ),
                "depth": DepthAttachment(
                    access: Read,
                    clear: false,
                )
            },
        ),
        "ui_overlay": (
            ty: Material,
            config: "ui",
            attachments: {
                "draw": ColorAttachment(
                    access: ReadWrite,
                    clear: false,
                )
            },
        ),
        "ui": (
            ty: Material,
            config: "ui",
            attachments: {
                "draw": ColorAttachment(
                    access: ReadWrite,
                    clear: true,
                )
            },
        ),
        "present": (
            ty: Present,
            config: "present",
        )
    },
    attachments: {
        "draw": (
            usage: Color,
            format: R16g16b16a16Sfloat,
        ),
        "depth": (
            usage: Depth,
            format: D32Sfloat,
        ),
    }
)

