MaterialsConfig(
    default: (
        // must match material pass layout
        object_layout: [
            WorldMatrix,
            NormalMatrix,
            VertexBufferAddress,
        ],
    ),
    materials: {
        "color": (
            vertex_shader: "color.spv",
            vertex_entry: "vertex_main",
            fragment_shader: "color.spv",
            fragment_entry: "fragment_main",
            vertex_attributes: "POSITION | COLOR",
        ),
        "color.transparent": (
            vertex_shader: "color.spv",
            vertex_entry: "vertex_main",
            fragment_shader: "color.spv",
            fragment_entry: "fragment_main",
            vertex_attributes: "POSITION | COLOR",
            blend_mode: Alpha,
        ),
        "texture": (
            vertex_shader: "mesh.vert.spv",
            vertex_entry: "main",
            fragment_shader: "mesh.frag.spv",
            fragment_entry: "main",
            vertex_attributes: "POSITION | TEXTURE | NORMAL | TANGENT | BITANGENT",
            properties: {
                "diffuse": Texture
            }
        ),
        "texture.transparent": (
            vertex_shader: "mesh.vert.spv",
            vertex_entry: "main",
            fragment_shader: "mesh.frag.spv",
            fragment_entry: "main",
            vertex_attributes: "POSITION | TEXTURE | NORMAL | TANGENT | BITANGENT",
            blend_mode: Alpha,
            properties: {
                "diffuse": Texture
            }
        ),
        "normal": (
            vertex_shader: "mesh.vert.spv",
            vertex_entry: "main",
            fragment_shader: "mesh_n.frag.spv",
            fragment_entry: "main",
            vertex_attributes: "POSITION | TEXTURE | NORMAL | TANGENT | BITANGENT",
            properties: {
                "diffuse": Texture,
                "normal": Texture
            }
        ),
        "depth": (
            vertex_shader: "color.spv",
            vertex_entry: "vertex_main",
            fragment_shader: "color.spv",
            fragment_entry: "depth_fragment_main",
            vertex_attributes: "POSITION | COLOR",
        ),
    }
)
