MaterialsConfig(
    default: (
        // must match material pass layout
        object_layout: [
            WorldMatrix,
            VertexBufferAddress,
        ],
        vertex_attributes: "POSITION | COLOR | TEXTURE | NORMAL | TANGENT | BITANGENT",
        color_format: R16g16b16a16Sfloat,
        depth_format: D32Sfloat,
    ),
    materials: {
        "gltf.texture": (
            vertex_shader: "gltf.spv",
            vertex_entry: "vertex_texture_main",
            fragment_shader: "gltf.spv",
            fragment_entry: "fragment_texture_main",
            material_layout: [
                DiffuseColor,
            ],
            texture_layout: [
                Diffuse
            ]
        ),
        "gltf.texture.transparent": (
            vertex_shader: "gltf.spv",
            vertex_entry: "vertex_texture_main",
            fragment_shader: "gltf.spv",
            fragment_entry: "fragment_texture_main",
            blend_mode: Alpha,
            material_layout: [
                DiffuseColor,
            ],
            texture_layout: [
                Diffuse
            ]
        ),
        "gltf.texture.normal": (
            vertex_shader: "gltf.spv",
            vertex_entry: "vertex_texture_main",
            fragment_shader: "gltf.spv",
            fragment_entry: "fragment_texture_normal_main",
            material_layout: [
                DiffuseColor,
            ],
            texture_layout: [
                Diffuse,
                Normal
            ]
        ),
        "gltf.texture.transparent.normal": (
            vertex_shader: "gltf.spv",
            vertex_entry: "vertex_texture_main",
            fragment_shader: "gltf.spv",
            fragment_entry: "fragment_texture_normal_main",
            blend_mode: Alpha,
            material_layout: [
                DiffuseColor,
            ],
            texture_layout: [
                Diffuse,
                Normal
            ]
        ),
        "gltf.color": (
            vertex_shader: "gltf.spv",
            vertex_entry: "vertex_color_light_main",
            fragment_shader: "gltf.spv",
            fragment_entry: "fragment_color_light_main",
            material_layout: [
                DiffuseColor,
            ]
        ),
         "gltf.color.transparent": (
            vertex_shader: "gltf.spv",
            vertex_entry: "vertex_color_light_main",
            fragment_shader: "gltf.spv",
            fragment_entry: "fragment_color_light_main",
            blend_mode: Alpha,
            material_layout: [
                DiffuseColor,
            ]
        ),
   }
)
